.contact {
  display: flex;
  width: 100vw;
  padding: 0% 5% 0% 5%;
  justify-content: center;
  padding-top: 12rem;
}
.left_contact {
  display: flex;
  width: 49%;
  padding-right: 8%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 6%;
  padding-left: 5%;
}
.contact_data {
  margin: 1rem 0rem 1rem 0rem;
  font-size: 1.5rem;
}
h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}
.Form {
  display: flex;
  width: 49%;
  padding-left: 1%;
  margin-right: 4rem;
  flex-direction: column;
  /* align-items: center; */
  left: 0;
  justify-content: center;
}
.first {
  display: flex;
  justify-content: space-between;
}
.input_data {
  display: flex;
  flex-direction: column;
}

.input_values {
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
  margin: 0.5rem 0.5rem 0.3rem 0rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid rgb(204, 200, 200);
  background-color: rgb(247, 246, 244);
  outline: none;
  min-width: 15rem;
}

.contact_submit {
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  margin: 1rem 0.5rem 1rem 0rem;
  width: 8%;
  min-width: 8rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 0px;
  cursor: pointer;
  background-color: rgb(168, 166, 161);
  color: white;
}
label {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.map {
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 100%;
  height: fit-content;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

@media (max-width: 800px) {
  .map {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3rem;
    padding-bottom: 0rem;
  }
  .contact {
    flex-direction: column;
    width: 100vw;
    padding-top: 8rem;
  }
  .left_contact {
    width: 100%;
  }
  .Form {
    width: 100%;
  }

  .input_data {
    width: 100%;
  }

  .input_values {
    min-width: 12rem;
  }
  .left_contact {
    width: 90vw;
    left: 0;
    padding-left: 0rem;
    margin-bottom: 1rem;
    align-items: unset;
  }
  .contact_data {
    font-size: 1rem;
  }
  h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
}
