.user {
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.user:hover {
  background-color: rgba(181, 181, 181, 0.3);
  padding: 0.5rem;
  border-radius: 1rem;
  color: black;
  cursor: pointer;
}
.usercontrol {
  position: absolute;
  display: flex;
  height: max-content;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}
.logout {
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  width: max-content;
  font-size: 1rem;
  height: max-content;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(153, 153, 153);
}
.logout:hover {
  /* background-color: rgba(181, 181, 181, 0.3); */
  color: black;
}
